nav {
  background-color: teal;
  overflow: hidden;
 }

 .navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
 }

 .logo {
  a {
    color: white;
  }
 }

 .menu {
  display: flex;

  // .menu-item 
  &__item {
    margin-left: 25px;
  }

  &__item-link {
    color: white;
  }
 }

 .burger {
  display: none;
  cursor: pointer;
 }

 // burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  
  .menu {
    position: fixed;
    background-color: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0px at 100% -10%);
    -webkit-clip-path: circle(0px at 100% -0%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: white;
  }
}